<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>메인 페이지</title>
	</head>
	<body>
		<% if(isLogin) { %>
			<button onclick="location.href='/logout'">로그아웃</button>
		<% } else { %>
			<button onclick="location.href='/login'">로그인</button>
		<% } %>
		<h1>
			<%=name %>님 어서오세요.
		</h1>
		<%=flag %>
	</body>
</html>