<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<title>Markdown Generator</title>
	<link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
	<style>
		.login {
			min-height: 100vh;
		}

		.bg-image {
			background-image: url('https://source.unsplash.com/WEQbe2jBg40/600x1200');
			background-size: cover;
			background-position: center;
		}

		.login-heading {
			font-weight: 300;
		}

		.btn-login {
			font-size: 0.9rem;
			letter-spacing: 0.05rem;
			padding: 0.75rem 1rem;
		}
	</style>
	<% if (typeof err==='string' ) { %>
	<script>
		alert('<%= err %>');
	</script>
	<% } %>
</head>

<body>
	<div class="container-fluid ps-md-0">
		<div class="row g-0">
			<div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
			<div class="col-md-8 col-lg-6">
				<div class="login d-flex align-items-center py-5">
					<div class="container">
						<div class="row">
							<div class="col-md-9 col-lg-8 mx-auto">
								<h3 class="login-heading mb-4">Markdown Generator</h3>

								<form action="/login" method="POST">
									<div class="form-floating mb-3">
										<input class="form-control" id="username" name="username" placeholder="Username"
											required minlength="5" maxlength="10">
										<label for="username">Username</label>
									</div>
									<div class="form-floating mb-3">
										<input type="password" class="form-control" id="password" name="password"
											placeholder="Password" required minlength="8">
										<label for="password">Password</label>
									</div>

									<div class="d-grid">
										<button id="submit" class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2"
											type="submit">Login</button>
									</div>

								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>